@mixin mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
  

  body {
    margin: 0;
  }
/* user chats*/
.userChats {
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  background-color: #818ace;
  border-radius: 50px;

  .chatAvatar {
    padding: 5px 10px;
    width: 25%;
    
    img {
    //   width: 20%;
    //   height: 50%;
    //   border-radius: 50px;
    //   object-fit: cover;
    //   margin: 10px;
    //   background-size: cover;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .chatData {
    width: 75%;
    text-align: start;
    padding: 5px 0;

    p {
      margin: 0;
      font-style: italic;
      font-size: 0.8em;
      color: #101336de;
    }
  }


  span {
    font-size: 1.4em;
  }

  p {
    margin: 0;
  }

  .notifSpan {
    background-color: red;
    border-radius: 50px;
    width: 5%;
    height: 2%;
    padding: 10px;
    margin: 20px;
  }
}
/* Style for the user info section */
.userChat {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Styling for user avatar and username */



  .formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .formWrapper {
      background-color: white;
      padding: 20px 60px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
  
      .logo {
        color: #5d5b8d;
        font-weight: bold;
        font-size: 24px;
  
      }
  
      .title {
        color: #5d5b8d;
        font-size: 12px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        input {
          padding: 15px;
          border: none;
          width: 250px;
          border-bottom: 1px solid #a7bcff;
          &::placeholder {
            color: rgb(175, 175, 175);
          }
        }
  
        button {
          background-color: #7b96ec;
          color: white;
          padding: 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;
        }
  
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #8da4f1;
          font-size: 12px;
          cursor: pointer;
  
          img {
            width: 32px;
          }
        }
      }
      p {
        color: #5d5b8d;
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }
  
  .parent-container {
    text-align: center;
    padding: 20px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .form-container {
    background-color: #8490c5;
    padding: 20px;
    width: 40%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    .roomPassword {
      width: 40% !important;
      background-color: #ffffff54 !important;
    }

    h2 {
      text-align: start;
    }

    .changeRoomSettings {
      padding: 20px;
      border: 1px solid gray;
      margin: 25px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: start;

      .mainInfos {
        display: flex;
        flex-direction: row;
        padding: 10px 0;

        input {
          margin-right: 10px;
          font-size: 1em;
          border: none;
          outline: none;
          border-radius: 3px;
          padding: 5px 2px;
        }

        .importNewAvatarIcon {
          font-size: 1.7em;
          color: aliceblue;
          cursor: pointer;
        }
      }

      .saveIcon {
        margin: auto;
      }
      .saveChanges {
        font-size: 1.2em;
        color: aliceblue;
        cursor: pointer;

        .saveChangesIcon {
          font-size: 1.3em;
          color: #dfbf04;
          background-color: aliceblue;
          padding: 5px;
          border-radius: 7px;
        }
      }
    }

    .FormRoomMember {
      padding: 10px;
      border: 1px solid gray;
      margin: 25px 0;
      // display: flex;
      // flex-direction: row;
      align-items: center;
    }
  }

  .roomFomrs {
    display: flex;
    flex-direction: column;
    border: solid 2px gray;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    margin: auto;
    width: 90%;

    .sendIcon {
      background-color: #60679b;
      color: aliceblue;
      display: flex;
      border-radius: 5px !important;
      padding: 5px;
      background-color: #838ec8;
      align-items: center;
      color: aliceblue;
      margin: 10px;
      cursor: pointer;
    }

    .roomType {
      background-color: #838ec8;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      // width: 50%;

    }

    .roomFormInfos {
      display: flex;
      flex-direction: row;

      .roomCreationInput {
        background-color: #5f659d !important;
      }

      span {
        background-color: transparent !important;
        padding: 0 !important;
      }
      .importAvatarIcon {
        color: #5e639f;
        font-size: 1.6em;
        cursor: pointer;
      }
    }

    

    .inviteResults {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #bcbedb;
      margin: 10px;
      padding: 5px 70px;
      border-radius: 10px;

        .inviteIcon {
          font-size: 1em;
          border: solid 1px lightgray;
          color: white;
          border-radius: 6px;
          padding: 5px;
          cursor: pointer;
        }
    }
    
    

    // .searchInvite {
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    // }

    input {
      background-color: #828ccb;
      border: none;
      outline: none;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 20px !important;
    }
  }
  
  .home {
    background-color: #0f1237;// #a7bcff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .container {
      // border: 1px solid white;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
      @include tablet {
       width: 90%;
      }
  
      .leftSidebar {
        display: flex;
        flex-direction: column;
        width: 25%;
        background-color: #232760;
        position: relative;
  
        .navbar {
          display: flex;
          align-items: center;
          background-color: #2f2d52;
          height: 50px;
          padding: 10px;
          justify-content: space-between;
          color: #ddddf7;
  
          .logo {
            font-weight: bold;
            @include tablet {
              display: none;
            }
          }
  
          .user {
            display: flex;
            gap: 10px;
  
            img {
              background-color: #ddddf7;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              object-fit: cover;
            }
  
            button {
              background-color: #5d5b8d;
              color: #ddddf7;
              font-size: 10px;
              border: none;
              cursor: pointer;
              @include tablet {
                position: absolute;
                bottom: 10px;
              }
            }
          }
        }

        

        .search {
          height: 7%;
          padding: 30px 10px;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #828ccb7d;

          .searchContainer {
            display: flex;
            flex-direction: row;
            background-color: #838ec8;
            padding: 15px 10px;
            border-radius: 25px;

            span {
              margin: 0px !important;
              padding: 0;
            }

            input {
              background-color: #828ccb;
              border: none;
              outline: none;
              width: 100%;
              margin: 0px !important;
              &::placeholder {
                color: lightgray;
              }
            }
          }

          .createIconSend {
            background-color: #60679b;
            color: aliceblue;
            padding: 7px;
            border-radius: 7px;
          }

          .serchChatInput {
            width: 80%;
            // background-color: yellow;
          }

          .searchChatIcon {
            width: 10%;
            // background: aqua;
            margin: 0 3px;
          }

          .searchChatCreatRoomIcon {
            width: 10%;
            // background-color: chocolate;
            margin: 0 3px;
          }
  
          .searchForm {
            padding: 10px;
  
            
          }
          // input {
          //   background-color: #828ccb;
          //   border: none;
          //   outline: none;
          //   margin: 0 10px;

          //   &::placeholder {
          //     color: lightgray;
          //   }
          // }
          span {
            display: flex;
            border-radius: 20px;
            padding: 5px;
            // width: 90%;
            background-color: #838ec8;
            align-items: center;
          }

          .searchIcon {
            font-size: 1.2em;
            color: #dddef6;
            // margin: 0 10px;
            cursor: pointer;
          }

          // search chat results
          .searchChatResults {
            display: flex;
            flex-direction: row;
            z-index: 999;
            // position: absolute;
            background: #deddf6;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;

            .searchResInfo {
              padding: 2px 10px;
              background-color: #666fca87;
              border-radius: 65px;
              margin: 5px auto;
              width: 75%;
              display: flex;
              flex-direction: row;
              cursor: pointer;

              img {
                border-radius: 70px;
                width: 40px;
                height: 40px;
                margin-right: 10px;
              }

              span {
                font-size: 1.4em;
                background-color: transparent;
              }
            }
          }
        }

        .chats {
          overflow-y: scroll;
          height: 93%;
        }
      }

      .search-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
      }

      .createRoom {
        .createRoomIcon {
          font-size: 1em;
          color: #dddef6;
          cursor: pointer;
        }
      }

        .rightSidebar {
          // flex: 1;
          width: 20%;
          background-color: #232760;
          position: relative;
    

            .contactInfo {
              height: 100%;
              display: flex;
              flex-direction: column;
            

            .flex-container {
              display: flex;
            }

            .flex-item {
              flex: 1; /* Equal distribution of available space */
              padding: 10px;
              border: 1px solid gray;
            }

            .flex-item:nth-child(1) {
              flex: 40%; /* 30% width */
            }
            
            .flex-item:nth-child(2) {
              flex: 30%; /* 40% width */
            }
            
            .flex-item:nth-child(3) {
              flex: 30%; /* 30% width */
            }

            .contactInfos {
              display: flex;
              align-items: center;
              // margin-bottom: 10px;
              flex-direction: column;
              height: 75%;
            }
            
            .contactAvatar {
              display: flex;
              padding: 50px 0 10px 0;
            }

            .contactAvatar img {
              // width: 100%;
              // object-fit: cover;
              // margin: auto;
              // border: 3px solid #dddef6;
              // border-radius: 10px;

              margin: auto;
              border: 3px solid #dddef6;
              vertical-align: middle;
              width: 90%;
              height: 100%;
              border-radius: 10px;
            }
            
            .contactInfos span {
              font-size: 1.5rem;
              color: aliceblue;
              margin: 10px;
            }

            .mutualContact {
              display: flex;
              flex-direction: column;
              align-items: center;

              .searchIcon {
                color: aliceblue;
              }
            }

            .roomFormInvite {
              padding: 10px;
              border: 1px solid gray;
              display: flex;
              flex-direction: column;

              .searchInvite {
                width: 50%;
                margin: 10px auto;

              }
              
              .searchInviteResults {
                background-color: #e7f0fac9;
                width: 45%;
                margin: auto;
                padding: 10px;
                border-radius: 5px;

                .inviteResults {
                  display: flex;
                  flex-direction: row;
                  background-color: #3f4777;
                  padding: 10px 5px;
                  width: 85%;
                  margin: auto;
                  border-radius: 30px;

                  .resultName {
                    width: 50%;
                    text-align: center;
                    color: aliceblue;
                  }

                  .resultIcon {
                    width: 50%;
                    text-align: center;

                    .inviteIcon {
                      font-size: 1em;
                      color: aliceblue;
                      cursor: pointer;
                    }
                  }
                }
              }

              input {
                background-color: rgba(240, 248, 255, 0.9215686275);
                border: none;
                border-radius: 7px;
                padding: 7px;
                outline: none;
                width: 65%;
              }

              .searchIcon {
                font-size: 1.1em;
                cursor: pointer;
                margin: 0 10px;
              }
            }

            .roomMembers {
              border-radius: 10px;
              width: 75%;
              background-color: #6b73a7;
              padding: 10px;
              margin: auto;

              .roomMemberItem {
                width: 60%;
                padding: 10px;
                margin: 5px auto;
                background: aliceblue;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
              }

              .roomMember {
                width: 80%;
                text-align: start;
                margin-left: 10px;
              }

              .owner {
                width: 10%;
                text-align: end;
                margin: 0 10px;
              }
              .admin {
                width: 10%;
                text-align: end;
                margin: 0 10px;
              }

              .roleIcon {
                color: #b8811e;
              }

              .memberActions {
                display: flex;
                flex-direction: row;

                .muteMemberIcon {
                  margin: 0 3px;
                  cursor: pointer;
                  color: #262a89bf;
                }

                .banMemberIcon {
                  margin: 0 3px;
                  cursor: pointer;
                  color: #262a89bf;
                }

                .kickMemberIcon {
                  margin: 0 3px;
                  cursor: pointer;
                  color: #262a89bf;
                }
              }
            }

            /* Styling for mutual friends and groups lists */
            .mutualFriends, .mutualGroups {
              display: flex;
              flex-direction: column;
              margin: 10px;

              p {
                background-color: #dddef6;
                padding: 5px 10px;
                border-radius: 20px;
                // width: 100%;
                align-items: center;
                margin: auto;
              }
            }
            .mutualFriendsContainer, .mutualGroupssContainer {
              background-color: #828ccb;
              padding: 10px;
              display: flex;
              align-items: center;
              overflow-y: scroll;
              height: 5em;
              // margin: auto;
            }

            .mutualFriends ul,
            .mutualGroups ul {
              list-style: none;
              padding: 0;
            }

            .mutualFriends li,
            .mutualGroups li {
              margin-bottom: 6px;
              font-size: 1rem;
              color: #555;
            }
            
            /* Styling for buttons */
            .contactPlay1 {
              display: flex;
              flex-direction: row;
              height: 25%;
              // border-top: 1px solid darkgray;
              padding: 30px 0;
            }

            .contactPlay2 {
              display: flex;
              flex-direction: row;
              height: 25%;
              border-top: 1px solid #dddef6b8;
              padding: 30px 0;

              .section2 {
                margin: 25px auto;
              }
            }
            
            .contactPlay1 span {
              // background-color: #007bff;
                color: aliceblue;
                border: none;
                border-radius: 4px;
                padding: 5px 5px;
                font-size: 1.2em;
                cursor: pointer;
                margin: 10px;
            }

            .contactPlay2 span {
              // background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 4px;
                padding: 5px 5px;
                font-size: 1.2em;
                cursor: pointer;
                margin: 10px;
            }
     
          
          
          // .search {
          //   // border-bottom: 1px solid gray;
    
          //   .searchForm {
          //     padding: 10px;
    
          //     input {
          //       background-color: #828ccb;
          //       border: none;
          //       margin: 20px 0px 10px 0px;
          //       border-radius: 30px;
          //       padding: 10px;
          //       color: white;
          //       outline: none;
          //       width: 90%;
    
          //       &::placeholder {
          //         color: lightgray;
          //       }
          //     }
          //   }
          }
  
        .userChat {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: white;
          cursor: pointer;
  
          &:hover {
            background-color: #2f2d52;
          }
  
          // img {
          //   width: 50px;
          //   height: 50px;
          //   border-radius: 50%;
          //   object-fit: cover;
          // }
  
          .userChatInfo {
            span {
              font-size: 18px;
              font-weight: 500;
            }
            p {
              font-size: 14px;
              color: lightgray;
            }
          }
        }
      }
      .chat {
        // flex: 2;
        width: 55%;

        .passwordForm {
          h2 {
            text-align: center;
          }

          input {
            margin: 10px;
            outline: none;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
          }

          span {
            margin: 0 10px;
            background-color: #6550ae73;
            padding: 5px 7px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
  
        .chatInfo {
          height: 50px;
          background-color: #5d5b8d;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          color: lightgray;
        }
  
        .chatIcons {
          display: flex;
          gap: 10px;
  
          img {
            height: 24px;
            cursor: pointer;
          }
        }
  
        .messages {
          background-color: #ddddf7;
          padding: 10px;
          height: calc(100% - 70px);
          overflow-y: scroll;
  
          .message {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
  
            .messageInfo {
              display: flex;
              flex-direction: column;
              color: gray;
              font-weight: 300;
  
              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
              }
            }
            .messageContent {
              max-width: 80%;
              display: flex;
              flex-direction: column;
              gap: 10px;
  
              p {
                background-color: white;
                padding: 10px 20px;
                border-radius: 0px 10px 10px 10px;
                max-width: max-content;
              }
  
              img {
                width: 50%;
              }
            }
  
            &.owner {
              flex-direction: row-reverse;
  
              .messageContent {
                align-items: flex-end;
                p {
                  background-color: #8da4f1;
                  color: white;
                  border-radius: 10px 0px 10px 10px;
                }
              }
            }
          }
        }
  
        .input {
          height: 50px;
          background-color: #dddef6;
          // padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          
          .inputContainer {
            display: flex;
            flex-direction: row;
            width: 90%;
            background-color: white;
            align-items: center;
            margin: auto;
            padding: 10px;
            border-radius: 50px;

            span {
              color: #4b519a;
              font-size: 1.2em;
              cursor: pointer;
            }
          }
  
          input {
            width: 100%;
            border: none;
            outline: none;
            color: #2f2d52;
            font-size: 18px;
  
            &::placeholder {
              color: lightgray;
            }
          }
  
          .send {
            display: flex;
            align-items: center;
            gap: 10px;
  
            img {
              height: 24px;
              cursor: pointer;
            }
  
            button {
              border: none;
              padding: 10px 15px;
              color: white;
              background-color: #8da4f1;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

.ChatNavbar {
  display: flex;
  height: 20%;
  border-radius: 20px;
  margin: 10px;
  
  ul {
    background-color: #a396dd;
      height: 60%;
      margin: 0;
      border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {

  .search {
    padding: 10px !important;
    
    .searchContainer {
      height: 70%;
      padding: 0px !important;
      font-size: 0.5em !important;
    }

    .searchChatIcon {
      width: 50px !important;
      margin: auto !important;
    }

    .searchChatCreatRoomIcon {
      width: 50px !important;
      margin: auto !important;
    }

    .serchChatInput {
      padding: 10%;
    }

    
  }
  .input {
    font-size: 0.5em;

    input {
      font-size: 0.9em !important;
    }
  }

  .contactInfos span {
    font-size: 0.5em !important;
  }

  .userChats {
    height: 5%;

    .chatAvatar {
      padding: 0px;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .chatData {
      font-size: 0.1em;
    }
  }

  .searchChatResults {
    margin: 0;

    .searchResInfo {
      padding: 0;
      background-color: #666fca87;
      border-radius: 65px;
      margin: 0;
      width: 75%;
      display: flex;
      flex-direction: row;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }

      span {
        display: none;
      }
    }
  }

  .message {
          font-size: 0.5em;
          gap: 5px !important;

          .messageInfo {
            img {
              width: 25px !important;
              height: 25px !important;
              margin: 0px;
            }

          }
            .messageContent {
              p {
                padding: 5px 10px !important;
              }
            }
    }
    

}