

/* 
img {
    border-radius: 10px;
} */

.profile {
    width: 100%;
    height: 100%;
    position: relative
    /* display: flex; */
}

.friend-title {
    height: 14%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 200;
}




.profile-info-left1,
.achivement {
    position: relative;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 1.5rem 1rem; */
    /* backdrop-filter: blur(30px); */
}


.achivements,
#chart {
    height: 86%;
    width: 100%;
    position: relative;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
    background-color: #3e4aa0;
}

#chart {
    overflow: hidden;
}

.profile-info-left1 {
    flex-wrap: nowrap;
    border-radius: 10px;
    background-color: rgba(113, 113, 146, 0.55);
    margin-top: 0;
    flex-direction: column;
    width: 70%;
}

#title {
    height: 14%;
    width: 100%;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
}
#title > img {
    height: 100%;
    width: 40%;
    min-width: 130px;
    max-width: 230px;
} 
#title > span {
    font-size: larger;
    font-weight: 700;
    position: absolute;
    left: 5%;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .2rem;
    border-bottom: 3px solid cornflowerblue;
}



/* PROFILE-INFO */
.profile-info {
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.profile-img1 {
    height: 70%;
    position: relative;
}

.profile-img1 > img {
    height:100%;
    /* width: 100%; */
    aspect-ratio: 10/9.5;
    object-fit: cover;
    outline: 1px solid ;
    border-radius: 10px;
}


#status {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 8%;
    height: 8%;
    z-index: 10;
    /* display: flex; */
}

#status > div{
    position: relative;
    width: 100%;
    height: 100%;
    outline: 1px black solid;
    border-radius: 50%;
    background-color: #15a3e9;
    z-index: 200;
}


#status > span {
    display: none;
    /* color: black; */
}

#status:hover > span {
    position: absolute;
    left: 40%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(113, 113, 146, 0.8);
    width: 300%;
    height: 100%;
    border-radius: 20px;
    z-index: 1;
    padding-top: 15%;
    padding-left: 15%;
    font-size: 70%;
    font-weight: 600;
    transition: width .6s cubic-bezier(0.075, 0.82, 0.165, 1);

}


@media (orientation: portrait) {

    
    .profile {
        flex-direction: column;
    }

    @media (max-width: 600px) {

        .profile-info-left1 {
            width: 100%;
            margin: auto;
            /* background-color: greenyellow; */
        }

        .profile-img1 {
            height: 70%;
        }

    }

    .profile-info-left1,
    .achivement {
        height: 350px;
        margin-top: 1rem;
    }
    
    
    @media (max-width: 400px) {
        

        .profile-info-left1 {
            width: 100%;
            height: auto;
            padding-top: 10%;
            padding-bottom: 10%;
            background-color: skyblue;
        }

        .profile-img1 {
            width: 70%;
            /* object-fit: cover;
            overflow: hidden; */
            /* height: unset; */
            /* aspect-ratio: 4/4; */
        }

        .profile-img1 > img {
            width: 100%;
            height: auto;
            aspect-ratio: 4/4;
            object-fit: cover;
        }

        /* .achive {
            width: 90px;
            height: 98px;
        } */
    }

}

@media (min-width: 600px) {
    .achivement {
        height: 450px;
    }

    .profile-info {
        display: flex;
        width: 100%;
        align-items: center;
        
    }

    .profile-info-right,
    .profile-info-left1 {
        height: 350px;
        width: 50%;
        margin: 0 .5rem;
    }

    .profile-img1 {
        height: 60%;
    }

}

@media (orientation: landscape) {
    
    .profile {
        display: flex;
        /* background-color: salmon; */
    }

    .profile-col-1 {
        display: flex;
        flex-direction: column;
    }

    .profile-col-2 {
        display: flex;
    }

    .achivement,
    .profile-info {
        width: 100%;
        margin: auto;
        height: 48%;
        max-height: 550px;
    }

    .profile-img1 {
        height: 60%;
    }

    .profile-info-right {
        height: 100%;
    }

    .profile-info-left1 {
        display: flex;
        align-self: end;
        height: 100%;
        width: 70%;
        max-width: 450px;
        margin: 0;
    }
    
    .achivements {
        background-color: #384080;
        border-radius: 10px;
    }
    
    @media (max-width: 1220px) {
        .profile-info-left1 {
            min-width: 260px;
        }

        .friend {
            width:  85%;
        }
    }

    .profile-col-2,
    .profile-col-1 {
        width: 50%;
        height: 100%;
    }

    .profile-col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .profile-col-2 {
        flex-direction: column;
    }

    .achivement {
        width: 90%;
        margin: auto;
    }

    @media (max-width: 940px) {
        .profile-info-right {
            display: none;
        }
        .profile-info-left1 {
            width: 100%;
            height: 100%;
        }
    }

}

