/* * {
    margin: 0;
    padding: 0;

  }
  body
  {
    display: grid;
    position:fixed;
    margin: 0;
    padding: 0;
   background-color: rgb(36, 3, 63);
  }  */
  #canvas1
  {
    display: flex;
    margin: 0;
    padding: 0;
    position: fixed;
    border: solid white;
    border-width: 15px 0px;
    background-color: black;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  
  }
  #setting
  {
    display: flex;
    position: fixed;
    top: 45%;
    right: 15%; 
    color: rgb(0, 119, 255);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    
  }
  #box
  {
    display: grid;
    position: fixed;
    top: 48%;
    right: 10%;
    width: 10%;
    height: 10%;
    border-radius: 7px; 
    background-color: #ead6f1;
  }
  
  .music
  {
    display: flex;
   
    color: rgb(80, 78, 78);
    font-size: large;
    align-items: center;
    justify-content: center;
  
  }
  
  .sound
  {
    display: flex;
    color: rgb(80, 78, 78);
    font-size: large;
    align-items: center;
    justify-content: center;
  }
  
  .buttonExit
  {
    display: flex;
    position: fixed;
    top: 60%;
    right: 15%;
    align-items: center;
    justify-content: center;
    
    color:whitesmoke;
    background-color: red;
    border-radius: 6px;
  }
  
  .icon
  {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin-left: .5rem;
  }
  .EXIT
  {
    color: white;
    margin-right: .8rem;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  #start
  {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 50%;
    left: 50%; 
  
  }
  .ButtonStart
  {
    display: flex;
    position: fixed;
    background-color: rgb(0, 140, 255);
    border-radius: 7px;
  
    width: 12vh;
    height: 5vh;
  
    align-items: center;
    justify-content: space-around;
  }
  .startplus
  {
    display: flex;
    position: relative;
    color: white;
    font-size: x-large;
    margin-left: .8rem;
  }
  .Iconpaddles
  {
    display: flex;
    position: relative;
    height: 50px;  
    width: 50px;
    margin-bottom: .6rem;
  }
  
  .vs
  {
    display: flex;
    position: fixed;
    top: 5%;
    left: 45%;
    height: 120px;  
  }
  
  #profile1
  {
    display: flex;
    position: fixed;
    background-color: rgb(150, 153, 158);
    justify-content: center;
    top: 8%;
    left: 24%;
    width: 400px;
    height: 80px;
    border-radius: 10vh;
  }
  
  .profile1Img
  {
    display: flex;
    position: fixed;
    background: rgb(94, 3, 180);
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: 24%;
  }
  .profile1id
  {
    display: flex;
    position: fixed;
    background-color: rgb(39, 35, 35);
    color: rgb(223, 240, 240);
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    left: 30%;
    border-radius: 10vh;
  }
  
  .BallScore1
  {
    display: flex;
    position: relative;
    top: 50%;
    left: 1%;
    gap: 1vh; 
  }
  .pl1 
  {
    display: flex;
    position: relative;
    background-color: rgb(88, 74, 88);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  
  #profile2
  {
    display: flex;
    background-color: rgb(150, 153, 158);
    position: fixed;
    justify-content: center;
    top: 8%;
    right: 24%;
    width: 400px;
    height: 80px;
    border-radius: 10vh;
  }
  .profile2id
  {
    display: flex;
    position: fixed;
    background-color: rgb(39, 35, 35);
    color: rgb(223, 240, 240);
    align-items: center;
    justify-content:center;
    width: 180px;
    height: 40px;
    right: 30%;
    border-radius: 10vh;
    
  }
  
  
  .profile2Img
  {
    display: flex;
    position: fixed;
    background: rgb(94, 3, 180);
    justify-content: center;
    border-radius: 50%;
    right : 24%;
    width: 80px;
    height: 80px;
  }
  
  .BallScore2
  {
    display: flex;
    position: relative;
    top: 50%;
    right: 1%;
    gap: 1vh; 
  }
  .pl2
  {
    display: flex;
    position: relative;
    background-color: rgb(88, 74, 88);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  
  @media screen and (max-width: 1700px)
  {
    body{
      background-color: rgb(243, 17, 17);
    }
    #canvas1
    {
       width: 1000px; 
        height: 600px;
    }
  
    #setting
    {
      display: flex;
      position: fixed;
      top: 43%;
      right: 4%; 
   
    }
    #box
    {
      display: grid;
      position: fixed;
      top: 48%;
      right: 0%;
      width: 150px;
      height: 100px;
    }
    .buttonExit
    {
      display: flex;
      position: fixed;
      top: 60%;
      right: 4%;
    }
  
    #profile1
    {
      display: flex;
      position: fixed;
      top: 4%;
      left: 15%;
    }
    .profile1Img
    {
      display: flex;
      position: fixed;
    
      left: 15%;
    }
    .profile1id
    {
      display: flex;
      position: fixed;
     
      left: 24%;
      border-radius: 10vh;
    }
  
    #profile2
    {
      display: flex;
      position: fixed;
      justify-content: center;
      top :4%;
      right: 15%;
    }
    .profile2id
    {
      display: flex;
      position: fixed;
      right: 23%;  
    }
  
  .profile2Img
  {
    display: flex;
    position: fixed;
    right : 15%;
  
  }
  .vs
  {
    display: flex;
    position: fixed;
    top: 3%;
    left: 43%;
    height: 120px;  
  }
  }
  
  
  @media screen and (max-width: 1300px)
  {
    
    body{
      background-color: burlywood;
    }
    #canvas1
    {
       width: 666px; 
        height: 400px;
    }
    #setting
    {
      display: flex;
      position: fixed;
      top: 43%;
      right: 6%; 
    }
    #box
    {
      display: grid;
      position: fixed;
      right: 0%;
      width: 15%;
    }
    .buttonExit
    {
      position: fixed;
      top: 65%;
      right: 5%;
    }
   
    #profile1
    {
      display: flex;
      position: fixed;
      top: 8%;
      left: 17%;
      width: 250px;
      height: 60px;
      border-radius: 10vh;
    }
    .profile1id
    {
      display: flex;
      position: fixed;
      width: 100px;
      height: 30px;
      left: 25%;
      border-radius: 10vh;
    }
    .profile1Img
    {
      display: flex;
      position: fixed;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      left: 17%;
    }
    
    .BallScore1
    {
      display: flex;
      position: relative;
      top: 55%;
      left: 7%;
      gap: 1vh; 
    }
  .pl1 
  {
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  #profile2
  {
    display: flex;
    position: fixed;
    top: 8%;
    right: 17%;
    width: 250px;
    height: 60px;
    border-radius: 10vh;
  }
  .profile2id
  {
    display: flex;
    position: fixed;
    width: 100px;
    height: 30px;
    right: 25%;
    border-radius: 10vh;
  }
  .profile2Img
  {
    display: flex;
    position: fixed;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    right: 17%;
  }
  .BallScore2
  {
    display: flex;
    position: relative;
    top: 55%;
    right: 7%;
    gap: 1vh; 
  }
  .pl2
  {
  display: flex;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  }
  .vs
  {
    display: flex;
    position: fixed;
    top: 7%;
    left: 43%;
    height: 80px;  
  }
  
  }
  
  
  @media screen and (max-width: 950px)
  {
    
    body
    {
      background-color: aqua;
    }
    #canvas1
    {
      width: 500px; 
      height: 300px;
    }
    #setting
    {
      display: flex;
      position: fixed;
      top: 44%;
      right: 5%; 
    }
  
    #box
    {
      display: grid;
      position: fixed;
      right: 0%;
      width: 120px;
    }
  
    .buttonExit
    {
      position: fixed;
      top: 65%;
      right: 3%;
    }
   
    .vs
    {
      position: fixed;
      top: 5%;
      left: 55vh;
      height: 100px;  
    }
  
    #profile1
    {
      display: flex;
      position: fixed;
      top: 10%;
      left: 17%;
      width: 200px;
      height: 50px;
      border-radius: 10vh;
    }
    .profile1id
    {
      display: flex;
      position: fixed;
      width: 100px;
      height: 20px;
      left: 25%;
      border-radius: 10vh;
    }
    .profile1Img
    {
      display: flex;
      position: fixed;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      left: 17%;
    }
    
    .BallScore1
    {
      display: flex;
      position: relative;
      top: 50%;
      left: 8%;
      gap: 1vh; 
    }
  .pl1 
  {
    display: flex;
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }
  
  #profile2
  {
    display: flex;
    position: fixed;
    top: 10%;
    right: 17%;
    width: 200px;
    height: 50px;
    border-radius: 10vh;
  }
  .profile2id
  {
    display: flex;
    position: fixed;
    width: 100px;
    height: 20px;
    right: 25%;
    border-radius: 10vh;
  }
  .profile2Img
  {
    display: flex;
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: 17%;
  }
  .BallScore2
  {
    display: flex;
    position: relative;
    top: 50%;
    right: 8%;
    gap: 1vh; 
  }
  .pl2
  {
    display: flex;
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }
  .vs
  {
    display: flex;
    position: fixed;
    top: 8%;
    left: 41%;
    height: 80px;  
  }
  
  
  }
  
  @media screen and (max-width: 740px)
  {
    
    body
    {
      background-color: blueviolet;
    }
    #canvas1
    {
      width: 250px;
      height: 150px;
    }
  
    #setting
    {
      display: flex;
      position: fixed;
      font-size: small;
      right: 30%; 
      top: 62%;
    }
  
    #box
    {
      display: grid;
      position: fixed;
      font-size: small;
      right:15%;
      top: 64%;
      width: 100px;
      height: 50px;
    }
    .sound
    {
      display: flex;
      font-size: small;
    }
    .music
    {
      display: flex;
      font-size: small;
    }
    .buttonExit
    {
      position: fixed;
      top: 65%;
      right: 60%;
    }
    .EXIT
    {
      color: white;
      margin-right: .8rem;
      font-size: medium;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .icon
    {
      display: flex;
      font-size: medium;
    }
  
    #profile1
    {
      display: flex;
      position: fixed;
      top: 10%;
      left: 5%;
      width: 130px;
      height: 30px;
      border-radius: 10vh;
    }
    .profile1id
    {
      display: flex;
      position: fixed;
      font-size: small;
      width: 50px;
      height: 10px;
      left: 18%;
      border-radius: 10vh;
    }
    .profile1Img
    {
      display: flex;
      position: fixed;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      left: 5%;
    }
    
    .BallScore1
    {
      display: flex;
      position: relative;
      top: 60%;
      left: 8%;
      gap: 0.5vh; 
    }
  .pl1 
  {
    display: flex;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  #profile2
  {
    display: flex;
    position: fixed;
    top: 10%;
    right: 5%;
    width: 130px;
    height: 30px;
    border-radius: 10vh;
  }
  .profile2id
  {
    display: flex;
    position: fixed;
    font-size: small;
    width: 50px;
    height: 10px;
    right: 18%;
    border-radius: 10vh;
  }
  .profile2Img
  {
    display: flex;
    position: fixed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    right: 5%;
  }
  .BallScore2
  {
    display: flex;
    position: relative;
    top: 60%;
    right: 4%;
    gap: 0.5vh; 
  }
  .pl2
  {
    display: flex;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  .vs
  {
    display: flex;
    position: fixed;
    top: 10%;
    left: 39%;
    height: 40px;  
  }
  }
   
  