
@keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }


.main-dev {
    height: 84%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.dscp-dev {
    position: relative;
    width: 95%;
    height: 45%;
    overflow: hidden;
    white-space: nowrap;
    /* background-color: palegreen; */
}

.dscp-dev:before,
.dscp-dev::after {
    position: absolute;
    width: 5%;
    height: 100%;
    content: '';
    z-index: 20;
}

.dscp-dev:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255, 0),  rgb(28,26,41));
}

.dscp-dev::after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255, 0),  rgb(28,26,41));
}


.badges {
    display: inline-flex;
    width: 100%;
    height: 100%;
    /* background-color: blanchedalmond; */
    animation: 35s slide infinite linear;
}


.badge {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    max-width: 300px;
    margin: auto;
    /* background-color: darkorange; */
    transition: transform 0.5s ease;
}

.dscp-dev:hover .badges {
    animation-play-state: paused;
}

.badge:hover {
    transform: scale(1.05);
}

.badge:hover  .follow {
    display: flex;
    height: 70%;
}


.team-img {
    width: 90%;
    max-width: 180px;
    object-fit: contain;
    aspect-ratio: 4/4;
    margin: auto;
    border-radius: 50%;
    outline: 2px solid skyblue;
}



.portfolio {
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    text-align: center;
    /* background-color: aqua; */
    display: flex;

}

.portfolio > p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    padding: 5% 5%;
    margin: 5% 0;
    font-size: clamp(0px, 1vw, 25px);
    font-weight: 700;
    background-color: rgb(58, 84, 69);
    border-radius: 20px;
}

.follow {
    height: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-around;
    /* background-color: slateblue; */
    transition: height .5s ease;

}

.follow > a {
    width: 25%;
    height: 100%;
    /* background-color: firebrick; */
    display: flex;
}

.contact {
    width: 80%;
    aspect-ratio: 4/4;
    margin: auto;
    max-width: 45px;
    object-fit: contain;
    fill: azure;
}

.contact:hover {
    fill: skyblue;
    scale: .95;
}


.main-project-tools {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    /* text-align: center; */
    font-weight: 600;
    color: rgb(42, 235, 235);
    font-size: clamp(10px, 2vw, 4vh);
    /* background-color: hotpink; */
}

.project-tools {
    position: relative;
    width: 100%;
    height: 60%;
    overflow: hidden;
    white-space: nowrap;
    /* background-color: palegreen; */
}

.project-tools::after,
.project-tools::before {
    position: absolute;
    width: 5%;
    height: 100%;
    content: '';
    z-index: 20;
}

.project-tools::before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255, 0),  rgb(28,26,41));
}

.project-tools::after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255, 0),  rgb(28,26,41));
}

.tools {
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 225, 255, 0.071);
    animation: 15s slide infinite linear;
}


.tool {
    width: 7%;
    max-width: 100px;
    margin: auto;
    transition: transform 0.5s ease;
}


.project-tools:hover .tools {
    animation-play-state: paused;

}

.tool:hover {
    scale: .9;
}