img {
    width: 20px;
    margin-right: 10px;
}

/* button {
    cursor: pointer;
    width: auto;
    text-align: center;
    display: block;
} */

/* div {
    text-align: center;
    border: 3px solid;
} */

.textgoogle {
    color: #1a1a1a;
    font-size: 15px;
    background-color: aliceblue;
}

.text42 {
    font-size: 15px;
    background-color: rgb(20, 44, 64);
}

.text42 > img {
    vertical-align: middle;
}

.textgoogle > img {
    vertical-align: middle;
}

.text42:hover {
    background-color: rgb(5, 13, 44);
}

.textgoogle:hover {
    background-color: rgb(24, 59, 201);
}

/* .loginpage {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    height: 100%;
    width: 50%;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
} */

@media screen and (min-width:768px) {
    .leftside, .rightside {
        height: 100vh;
    }
}

.leftside, .rightside {
    color: aliceblue;
    height: 100vh;
    width: 100%;
}

.leftside {
    margin-top: 40%;
    /* margin-left: 5%; */
    max-width: 860px;
}

.rightside {
    background-image: url("../../assets/pingpong.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* height: 1000px; */
    /* width: 700px; */
    /* margin-right: 100px; */
    /* margin-top: 100px; */
    /* margin-bottom: 10%; */
    /* margin-right: 100px; */
    /* margin-left: 0px; */
}


#col-1 {
    /* position: relative; */
    width: 50%;
    float: left;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: #282828; */
    z-index: 1010101010
  }
  
  #col-2 {
    /* position: relative; */
    width: 50%;
    float: left;
    height: 100%;
    /* background-color: #0080ff; */
    z-index: 1010101010;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
  }

/* .row {
    height: auto;
    width: 100%;
} */

/* div {
    height: auto;
    width: auto;
} */

/* #log {
    margin-top: 300px;
} */