.main-home {
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
}

.dscp-home {
    display: flex;
    flex:1;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1400px;
    max-height: 700px;
    /* padding-bottom: 100px; */
    /* background-color: aquamarine; */
}


.title1 {
    color: #558faa;
    /* background-color: rgb(179, 119, 45); */
    opacity: 0.5;
    font-weight: 1000; 
    font-size: clamp(100px, 11vw, 250px);
    
}

.title2 {
    color: #00AEFF;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    /* background-color: rgb(185, 73, 73); */
    font-size: clamp(50px, 6vw, 120px);
}

.tab {
    padding-left: 90px;
}

.tab1 {
    padding-left: 20px;
}

.comment {
    
    font-size: clamp(10px, 1vw, 50px);
    /* background-color: blue; */
    max-width: 900px;
}

.getStart-b {
    color: #00AEFF;
    border: none;
    border-radius: 20px;
    font-size: 60px;
    /* font-family: Ro; */
    font-weight: 700;
    margin-top: 40px;
    padding: 20px 40px 20px 40px;
    /* margin-bottom:; */
    background-color: rgba(104 , 116, 181, 0.5);
    align-self: center;
}

.home-img {
    align-self: flex-end;
    flex: 1;
    max-width: 930px;
    min-width: 500px;
    margin-right: 50px;
}

.home-img > img{
    width: 100%;
}