


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    
}

.logo-login {
    width: 40%;
    max-width: 200px;
    /* background: darkgoldenrod; */
    /* margin-right: 5%;*/
    position: absolute;
    top: 0;
    left: 0;
}

.logo-login-img {
    width: 100%;
    aspect-ratio: 4/4;
}

#project-name {
    font-size: clamp(24px, 20vw, 100px);
    font-weight: bolder;
    color: aqua;
    font-family: 'Orbitron', sans-serif;
}

#col-1 {
    width:  60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    font-size: clamp(20px, 1.5vw, 50px);
    text-align: center;
    margin-left: 1rem;
}

#col-2 {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-right: 5rem;
    /* background-color: darkgoldenrod; */
}

#col-2  img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 90%; /* Set the maximum height of the image */
    width: auto; /* Maintain the image's aspect ratio */
    height: auto; /* Allow the image to shrink or expand as needed */
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}

#log {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 600px;
}

.log-b-42,
.log-b-google {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: clamp(14px, 1vw, 20px);
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 20px;
}

.log-b-42 {
    background-color: rgb(98, 98, 228);
}

.log-b-google {
    background-color: rgb(63, 123, 192);
}

.log-b-42:hover {
    background-color: rgb(120, 120, 170);
    filter: drop-shadow(0px 15px 10px rgba(255, 255, 255, 0.2));
    scale: 1.07;
}

.log-b-google:hover {
    background-color: rgb(103, 139, 179);
    filter: drop-shadow(0px 15px 10px rgba(255, 255, 255, 0.2));
    scale: 1.07;
}

.log-b-42 > img,
.log-b-google > img { 
    width: 30px;
    margin-right: .7rem;
    object-fit: cover;
    color: black;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}


@media (max-width: 990px) {

    #log {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .log-b-42,
    .log-b-google {
        width: 300px;
    }
}

@media (max-width: 600px){
    .row {
        justify-content: center;
        align-items: center;
    }

    #col-2 {
        display: none;
    }

}