* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.bar {
    display: flex;
    padding-right: .5rem;
    justify-content: space-between;
    align-items: center;
    /* background: darkcyan; */
    max-width: 2600px;
    max-height: 200px;
    margin-left: 0;
    margin-right: 2rem;
}

.logo {
    display: flex;
    width: 30%;
    max-width: 200px;
    background: darkgoldenrod;
    margin-right: 5%;
}

.logo  img {
    width: 100%;
}

.list {
    display: flex;
    /* background-color: salmon; */
    justify-content: space-between;
    width: 30rem;
    font-size: large;
    font-weight: 900;
}

a {
    color: white;
}

.list > li > a:hover {

    padding-bottom: 5px;
    border-bottom: .3rem aqua solid;
}

.login {
    font-size: large;
    font-weight: 900;
    padding: .7rem 1.5rem;
    outline: none;
    border-radius: 2rem;
    background-color: rgb(67, 176, 176);
    transition: scale 0.2 ease;
    /* max-width: 150px; */
}


.login:hover {
    background-color: rgb(17, 122, 161);
    scale: 1.07;
}

.login:active {
    scale: 0.95;
}

.menu-ico {
    display: none;
    font-size: 2rem;
}

.drop-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 2rem;
    top: 7rem;
    height: 0;
    width: 300px;
    margin-right: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open {
    height: 200px;
}

.drop-menu li {
    font-size: larger;
    font-weight: bolder;
    padding: .7rem;
}

.drop-menu .login {
    margin: .7rem;
    width: 90%;
    display: flex;
    justify-content: center;
}

@media (max-width:990px) {

    .bar .login, 
    .list {
        display: none;
    }

    .menu-ico {
        display: block;
    }

    .menu-ico:hover {
        color: aqua;
    }

    .drop-menu {
        display: flex;
        right: .5rem;
        /* max-width: 180px; */
    }

    .drop-menu > li > a:hover {

        color: aqua;
    }
}

@media (max-width: 500px) {
    .drop-menu {
        left: .5rem;
        right: .5rem;
        top: 8.5rem; 
        width: unset;
        margin: 0;

    }

}