
.bar {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 300px;
    min-width: 100px;
    /* background-color: #00AEFF; */
}

.list {

    /* background-color: #558faa; */
    display: flex;
    margin-top: 50px;
}

.list > ul {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    list-style: none;
    font-size: large;
    font-weight: 900;
}
