
.NavBarTree {
    width: 2.8%;
    height: 70%;
    min-height: 400px;
    /* max-height: 500px; */
    min-width: 35px;
    /* max-width: 80px; */
    border-radius: .7rem;
    background-color: rgba(97, 49, 141, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.NavBarTree > img {
    width: 68%;
    min-width: 30px;
    max-width: 60px;
    cursor: pointer;
}

