
.popup {
    position: absolute;
    top: 42%;
    left: 33%;
    width: 500px;
    height: 300px;
    background-color: coral;
}

.blur {
    /* display: ; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    background-color: rgba(59, 95, 148, .5);

}



/* 
img {
    border-radius: 10px;
} */

.friend-title {
    height: 14%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 200;
}

.search-input {
    position: absolute;
    width: 36px;
    height: 36px;
    right: 2%;
    top: 2%;
    margin: 0;
    border-radius: 20px;
    text-align: center;
    padding: 0;
    z-index: 100;
    font-size: 15px;
    font-weight: 550;
    outline: 3px solid #8c97eb;
    transition: width .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-input::placeholder {
    font-size: 75%;
    text-align: left;
    padding-left: 10%;
}

.profile-name-rank {
    max-width: 230px;
}

@media (orientation: portrait) {
    
    .profile-info-left,
    .profile-info-right,
    .user-friends,
    .history,
    .statistic {
        position: relative;
        display: flex;
        overflow-y: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1.5rem 1rem;
        /* backdrop-filter: blur(30px); */
    }
    
    .user-friends {
        overflow: none;
    }
    
    .friends-list,
    .my-history,
    .achivements,
    #chart {
        height: 86%;
        width: 100%;
        position: relative;
        display: flex;
        overflow-y: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 0px 10px 10px 10px ;
        backdrop-filter: blur(30px);
        background-color: #3e4aa0;
        /* padding: .5rem 0rem; */
    }
    
    #chart {
        overflow: hidden;
    }
    
    .profile-info-left {
        
        border-radius: 10px;
        background-color: #3e4aa0;
        margin-top: 0;
        flex-direction: column;
    }
    .statistic {
        margin-top: 0;
        flex-direction: column;
    }
    
    

    #title {

        height: 14%;
        width: 100%;
        /* margin-top: ; */
        padding: 0;
        position: relative;
        /* background-color: red; */
    }
    
    #title > span {
        
        background-color: rgba(63,81,181,0.5);
        height: 90%;
        position: absolute;
        top: 14%;
        left: 0;
        border-radius: 10px 10px 0px 0px;
        font-size: larger;
        font-weight: 700;
    }

    #search  {
        cursor: pointer;
        position: absolute; 
        top: 2%;
        /* width: 27px; */
        right: 1.96%;
        height: 26px;
        background-color: rgb(63, 100, 132);
        padding: 5px;
        border-radius: 20px;
        z-index: 110;
    }
    
    #search:hover {
        scale: 1.05;
        background-color: rgb(45, 71, 94);
        /* background-color: rgb(121, 201, 203); */
    }

    /* .profile-info-right {
        background-color: aquamarine;
        padding: .5rem;
    }
    
    
    
    .history {
        background-color: violet;
    } */
    
    /* .user-friends {
        background-color: chartreuse;
    } */
    /* .profile-info-left {
        background-color: black;
    }

    .profile-info-right {
        background-color: seagreen;
    } */
    .statistic {
        overflow: hidden;
    }

    .statistic > text {
        font-size: 50px;
    }

    /* PROFILE-INFO */
    .profile-info-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-img {
        height: 70%;
        margin-bottom: 1rem;
    }

    .profile-img > img {
        height: 100%;
        object-fit: cover;
        outline: 1px solid ;
        border-radius: 10px;
    }

    .profile-name-rank {
        width: 60%;
        margin-top: 1rem;
        font-size: large;
        font-weight: bolder;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: #c5cae9; */
    }

    .profile-name {
        width: 60%;
        text-align: center;
        padding: .4rem .4rem;
        border-radius: 5px;
        background-color: rgb(56, 58, 58);
    }

    .profile-rank {
        text-align: center;
        padding: .3rem .3rem;
        border-radius: 5px;
        width: 15%;
        font-size: larger;
        font-weight: bolder;
        background-color: rgba(241, 43, 237, 0.7);
    }

    #settings {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        width: 30px;
    }

    /* ACHIVEMENT */
    .profile-info-left {
        /* max-width: 350px; */
        /* flex-wrap: wrap; */

    }
    .achive {
        width: 100px;
        height: 110px;
        margin: .5rem;
        background-color: bisque;
        border-radius: 6px;
    }

    /* FRIENDS */
    .friend {
        width: 92%;
        height: 54px;
        margin: .6rem;
        border-radius: 10px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        background-color: cadetblue;
    }

    .user-friend {
        height: 100%;
        border-radius: 10px;
        border: 1px solid ;
    }

    .icon-chat {
        height: 57%;
        margin: 1rem;
    }

    .name-friend {
        position: absolute;
        top: 6px;
        left: 3.5rem;
        font-weight: 600;
        color: black;
        background-color: #c5cae9;
        padding: .04rem 1rem;
        width: 70px;
        text-align: center;
        overflow: auto;
        border-radius: 0px 10px 10px 0px;
    }

    .status-friend {
        position: absolute;
        font-size: 10px;
        font-weight: 600;
        top: 60%;
        left: 3.8rem;
        padding: 0px .4rem;
        width: 38px;
        text-align: end;
        color: black;
        border-radius: 10px;
        background-color: aliceblue;
    }

    #circle {
        position: absolute;
        height: 80%;
        aspect-ratio: 4/4;
        /* width: 10px; */
        left: 0;
        border: .5px solid yellow;
        border-radius: 10px;
        background-color: cornflowerblue;
    }
    /* HISTORY */
    .badge-history {
        position: relative;
        width: 160px;
        height: 110px;
        margin: .5rem auto;
        background-color:  #c5cae9;
        border-radius: 10px;
    }
    
    .players {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60%;
    }
    
    #vs-img {
        position: absolute;
        top: 40%;
        left: 50%; 
        transform: translate(-50%, -50%); 
        width: 22px;
        object-fit: cover;
    }
    
    #comma {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%); 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #comma > img {
    
        width: 45%;
    }
    
    #player {
        border-radius: 7px;
        height: 76%;
        object-fit: cover;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .score-match {
        display: flex;
        height: 50%;
        align-items: center;
        color: black;
    }
    
    .score {
        display: flex;
        width: 100%;
        font-size: larger;
        font-weight: bolder;
        align-items: center;
        justify-content: space-around;
    }

    @media (max-width: 600px) {
        .profile-info-right,
        .profile-info-left,
        .history {
            height: 300px;
        }
        
        .user-friends,
        .statistic {
            height: 350px;
        }
    }
    
    @media (max-width: 300px) {
        .profile-img {
            height: 60%;
        }

        #settings {
            width: 25px;
            right: 1;
        }
    }

    @media (min-width: 600px) {
        .user-friends,
        .history,
        .statistic {
            height: 450px;
        }
        .profile-info-right,
        .profile-info-left {
            height: 350px;
            width: 50%;
            margin: .5rem;
        }

        .profile-img {
            height: 60%;
        }

        .profile-info {
            display: flex;
            width: 100%;
            align-items: center;
            /* background-color: coral; */
        }

        #title > span { 
            padding:  1rem 1rem;
        }
    }

    @media (max-width: 400px) {
        .badge-history {
            width: 140px;
            height: 100px;
        }

        .achive {
            width: 90px;
            height: 98px;
        }
    }

}


@media (orientation: landscape) {


}