
.popup {
    position: absolute;
    top: 42%;
    left: 33%;
    width: 500px;
    height: 300px;
    background-color: coral;
}

.blur {
    /* display: ; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    background-color: rgba(59, 95, 148, .5);

}



/* 
img {
    border-radius: 10px;
} */


@media (orientation: portrait) {
    
    .profile-info-right,
    .profile-info-left,
    .user-friends,
    .history,
    .statistic {
        position: relative;
        display: flex;
        overflow-y: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* margin-top: .5rem; */
        /* margin-bottom: .5rem; */
        margin: 1.5rem 1rem;
        border-radius: 10px;
        backdrop-filter: blur(30px);
        background-color: rgba(63,81,181,0.5);
    }

    .profile-info-left {
        margin-top: 0;
    }
    /* .profile-info-right {
        background-color: aquamarine;
        padding: .5rem;
    }

    .profile-info-left {
        background-color: black;
    }

    .user-friends {
        background-color: chartreuse;
    }

    .history {
        background-color: violet;
    } */

    .statistic {
        overflow: hidden;
    }

    .statistic > text {
        font-size: 50px;
    }

    /* PROFILE-INFO */
    .profile-info-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-img {
        height: 70%;
        margin-bottom: 1rem;
    }

    .profile-img > img {
        height: 100%;
        object-fit: cover;
        outline: 1px solid ;
        border-radius: 10px;
    }

    .profile-name-rank {
        width: 60%;
        margin-top: 1rem;
        font-size: large;
        font-weight: bolder;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: #c5cae9; */
    }

    .profile-name {
        width: 60%;
        text-align: center;
        padding: .4rem .4rem;
        border-radius: 5px;
        background-color: cadetblue;
    }

    .profile-rank {
        text-align: center;
        padding: .3rem .3rem;
        border-radius: 5px;
        width: 15%;
        font-size: larger;
        font-weight: bolder;
        background-color: saddlebrown;
    }

    #settings {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        width: 30px;
    }

    /* ACHIVEMENT */
    .profile-info-left {
        flex-wrap: wrap;
    }
    .achive {
        width: 100px;
        height: 110px;
        margin: .5rem;
        background-color: bisque;
        border-radius: 6px;
    }

    /* FRIENDS */
    .friend {
        width: 92%;
        height: 54px;
        margin: .6rem;
        border-radius: 10px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        background-color: cadetblue;
    }

    .user-friend {
        height: 100%;
        border-radius: 10px;
        border: 1px solid ;
    }

    .icon-chat {
        height: 57%;
        margin: 1rem;
    }

    .name-friend {
        position: absolute;
        top: 6px;
        left: 3.5rem;
        font-weight: 600;
        color: black;
        background-color: #c5cae9;
        padding: .04rem 1rem;
        width: 70px;
        text-align: center;
        overflow: auto;
        border-radius: 0px 10px 10px 0px;
    }

    .status-friend {
        position: absolute;
        font-size: 10px;
        font-weight: 600;
        top: 60%;
        left: 3.8rem;
        padding: 0px .4rem;
        width: 38px;
        text-align: end;
        color: black;
        border-radius: 10px;
        background-color: aliceblue;
    }

    #circle {
        position: absolute;
        height: 80%;
        aspect-ratio: 4/4;
        /* width: 10px; */
        left: 0;
        border: .5px solid yellow;
        border-radius: 10px;
        background-color: cornflowerblue;
    }
    /* HISTORY */
    .badge-history {
        position: relative;
        width: 160px;
        height: 110px;
        margin: .5rem auto;
        background-color:  #c5cae9;
        border-radius: 10px;
    }
    
    .players {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60%;
    }
    
    #vs-img {
        position: absolute;
        top: 40%;
        left: 50%; 
        transform: translate(-50%, -50%); 
        width: 22px;
        object-fit: cover;
    }
    
    #comma {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%); 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #comma > img {
    
        width: 45%;
    }
    
    #player {
        border-radius: 7px;
        height: 76%;
        object-fit: cover;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .score-match {
        display: flex;
        height: 50%;
        align-items: center;
        color: black;
    }
    
    .score {
        display: flex;
        width: 100%;
        font-size: larger;
        font-weight: bolder;
        align-items: center;
        justify-content: space-around;
    }

    @media (max-width: 600px) {
        .profile-info-right,
        .profile-info-left,
        .history,
        .statistic {
            height: 300px;
        }
        
        .user-friends {
            height: 400px;
        }
    }

    @media (min-width: 600px) {
        .profile-info-right,
        .profile-info-left,
        .user-friends,
        .history,
        .statistic {
            height: 450px;
        }
    }

    @media (max-width: 400px) {
        .badge-history {
            width: 140px;
            height: 100px;
        }

        .achive {
            width: 90px;
            height: 98px;
        }
    }

}