

/* 
img {
    border-radius: 10px;
} */

.profile {
    width: 100%;
    height: 100%;
    position: relative
    /* display: flex; */
}

.friend-title {
    height: 14%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 200;
}

.search-bar {
    position: absolute;
    right: 0;
    top: 0;
    height: 13%;
    width: 48%;
    display: flex;
    /* background-color: aquamarine; */
}

.search-input {
    position: relative;
    /* right: 0; */
    width: 0;
    height: 90%;
    padding: 0;
    margin: auto;
    max-height: 40px;
    /* min-height: 28px; */
    border-radius: 44px;
    z-index: 110;
    outline: none;
    
    /* border: 1px solid #4c7dc1; */
    transition: width .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-input::placeholder {
    font-size: 75%;
    text-align: left;
    padding-left: 10%;
}

#search  {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%); 
    margin: auto;
    height: 80%;
    padding: .4vh;
    max-height: 32px;
    background-color: #4c7dc1;
    border-radius: 50%;
    cursor: pointer;
    z-index: 110;

}

#search:hover {
    background-color: rgb(58, 97, 131);
}

.profile-info-left,
.user-friends,
.achivement,
.statistic {
    position: relative;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 1.5rem 1rem; */
    /* backdrop-filter: blur(30px); */
}

.user-friends {
    overflow: none;
    /* background-color: slategray; */
}

.friends-list,
.achivements,
#chart {
    height: 86%;
    width: 100%;
    position: relative;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
    background-color: #3e4aa0;
}

#chart {
    overflow: hidden;
}

.profile-info-left {
    flex-wrap: nowrap;
    border-radius: 10px;
    background-color: rgba(113, 113, 146, 0.55);
    margin-top: 0;
    flex-direction: column;
    width: 70%;
}
.statistic {
    margin-top: 0;
    overflow: hidden;
    flex-direction: column;
}

.statistic > text {
    font-size: 50px;
}

#title {
    height: 14%;
    width: 100%;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
}
#title > img {
    height: 100%;
    width: 40%;
    min-width: 130px;
    max-width: 230px;
} 
#title > span {
    font-size: larger;
    font-weight: 700;
    position: absolute;
    left: 5%;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .2rem;
    border-bottom: 3px solid cornflowerblue;
}



/* PROFILE-INFO */
.profile-info {
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.profile-img {
    height: 70%;
    position: relative;
}

.profile-img > img {
    height:100%;
    /* width: 100%; */
    aspect-ratio: 10/9.5;
    object-fit: cover;
    outline: 1px solid ;
    border-radius: 10px;
}

#status {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 8%;
    height: 8%;
    outline: 1px black solid;
    border-radius: 50%;
    background-color: springgreen;
    z-index: 10;
}

.profile-name-rank {
    width: 90%;
    height: 20%;
    max-width: 230px;
    margin-top: 1rem;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-name {
    width: 70%;
    text-align: center;
    padding: .4rem .1rem;
    border-radius: 5px;
    position: relative;
    background-color: #384080;
    /* background-color: rgb(0, 255, 255); */
}
.profile-name > img {
    width: 100%;
    height: 50px;
}
.profile-rank {
    position: relative;
    text-align: center;
    padding: .3rem .3rem;
    border-radius: 5px;
    width: 30px;
    font-size: larger;
    font-weight: bolder;
    background-color: rgba(62, 202, 253, 0.8);
}
.profile-rank > img {
    width: 100%;
}
#rank {
    position: absolute;
    left: 50%;
    top: 46%;
    z-index: 5;
    transform: translate(-50%, -50%); 
}
#settings {
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
    width: 30px;
    z-index: 220;
}

/* FRIENDS */
.friend {
    height: 54px;
    margin: .6rem;
    width: 95%;
    min-width: 200px;
    border-radius: 10px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
}

.user-friend {
    height: 100%;
    border-radius: 10px;
    border: 1px solid ;
}

.icon-chat {
    height: 57%;
    margin: 1rem;
}

.name-friend {
    position: absolute;
    top: 6px;
    left: 3.5rem;
    font-weight: 600;
    color: black;
    background-color: #c5cae9;
    padding: .04rem 1rem;
    width: 70px;
    text-align: center;
    overflow: auto;
    border-radius: 0px 10px 10px 0px;
}

.status-friend {
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    top: 60%;
    left: 3.8rem;
    padding: 0px .4rem;
    width: 38px;
    text-align: end;
    color: black;
    border-radius: 10px;
    background-color: aliceblue;
}

#circle {
    position: absolute;
    height: 80%;
    aspect-ratio: 4/4;
    left: 0;
    border: .5px solid yellow;
    border-radius: 10px;
    background-color: cornflowerblue;
}


@media (orientation: portrait) {

    
    .profile {
        flex-direction: column;
    }

    @media (max-width: 600px) {

        .profile-info-left {
            width: 100%;
            margin: auto;
            /* background-color: greenyellow; */
        }


        .profile-info-right {
            height: 200px;
        }

        .profile-info-right > #title {
            height: 30%;
        }

        .achivements {
            height: 70%;
        }

        .profile-img {
            height: 70%;
        }

    }

    #settings {
        top: 4%;
    }

    .profile-info-left,
    .achivement,
    .user-friends,
    .statistic {
        height: 350px;
        margin-top: 1rem;
    }
    
    @media (max-width: 300px) {
        #settings {
            width: 25px;
            right: 1;
        }
    }
    
    
    @media (max-width: 400px) {
        

        .profile-info-left {
            width: 100%;
            height: auto;
            padding-top: 10%;
            padding-bottom: 10%;
            background-color: skyblue;
        }

        .profile-img {
            width: 70%;
            /* object-fit: cover;
            overflow: hidden; */
            /* height: unset; */
            /* aspect-ratio: 4/4; */
        }

        .profile-img > img {
            width: 100%;
            height: auto;
            aspect-ratio: 4/4;
            object-fit: cover;
        }

        /* .achive {
            width: 90px;
            height: 98px;
        } */
    }

}

@media (min-width: 600px) {
    .user-friends,
    .achivement,
    .statistic {
        height: 450px;
    }

    .profile-info {
        display: flex;
        width: 100%;
        align-items: center;
        
    }

    .profile-info-right,
    .profile-info-left {
        height: 350px;
        width: 50%;
        margin: 0 .5rem;
    }

    .profile-img {
        height: 60%;
    }

}

@media (orientation: landscape) {
    
    .profile {
        display: flex;
        /* background-color: salmon; */
    }

    .profile-col-1 {
        display: flex;
        flex-direction: column;
    }

    .profile-col-2 {
        display: flex;
    }

    .user-friends,
    .statistic {
        width: 100%;
        margin: auto;
        height: 48%;
        max-height: 600px;
    }

    .achivement,
    .profile-info {
        width: 100%;
        margin: auto;
        height: 48%;
        max-height: 550px;
    }

    .profile-img {
        height: 60%;
    }

    .profile-info-right {
        height: 100%;
    }

    .profile-info-left {
        display: flex;
        align-self: end;
        height: 100%;
        width: 70%;
        max-width: 450px;
        margin: 0;
    }
    
    .achivements {
        background-color: #384080;
        border-radius: 10px;
    }

    .friend {
        width: 45%;
    }
    
    @media (max-width: 1220px) {
        .profile-info-left {
            min-width: 260px;
        }

        /* .achive {
            width: 200px;
            height: 100px;
        } */

        .friend {
            width: 85%;
        }
    }

    .profile-col-2,
    .profile-col-1 {
        width: 50%;
        height: 100%;
    }

    .profile-col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .profile-col-2 {
        flex-direction: column;
    }

    .achivement, 
    .statistic {
        width: 90%;
        margin: auto;
    }

    @media (max-width: 940px) {
        .profile-info-right {
            display: none;
        }
        .profile-info-left {
            width: 100%;
            height: 100%;
        }
    }

}


