.settings-card {
    background-color: #3e4aa0;
    width: 600px;
    height: 350px;
    border-radius: 15px;
    box-sizing: border-box;
    /* padding: 5% 2.5%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-top: 2.5%;
    margin: 25% auto;
}

.settings-card  * {
    box-sizing: border-box;
}

.image-section {
    width: 45%;
    height: 95%;
    /* background-color: aqua; */
    /* display: flex;
    flex-direction: column; */
}

.image-frame {
    height: 82%;
    aspect-ratio: 1 /1;
    background-color: #5a69d8;
    border-radius: 7%;
    margin: 2% auto;
    border: 1.5px solid rgb(239, 233, 233);
    position: relative;
}

.change-image-container {
    position: absolute;
    bottom: 0; 
    right: 0;
    background-color: #fff; 
    border-radius: 15px 0 ; 
    padding: 4px;
}
  
.change-image-container img {
    width: 30px; 
    height: 30px;
    display: block;
    margin: 0 auto;
}


.username-frame {
    height: 11%;
    width: 65%;
    background-color: rgb(182, 177, 177);
    margin: 4% auto;
    border-radius: 12px;
}


.two-fact-section {
    width: 50%;
    height: 95%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: start;
}

.two-fact-section .container {
    width: 50%;
    height: 8%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10%;
}

.container span {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(229, 224, 224);
}

.container .button {
    background-color: rgb(214, 224, 224);
    width: 75px;
    height: 22px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    margin-right: 1%;
}

.container .button::before {
    position: absolute;
    content: '';
    background-color: #f9f9f9;
    width: 20px;
    height: 20px;
    border-radius: 22px;
    margin: 1px 2px;
    transition: 0.3s;
}

.container input:checked + .button {
    background-color: rgb(81, 226, 245);
}

.container input:checked + .button::before {
    transform: translateX(25px);
}

.container input {
    display: none;
}

.container span {
    margin-left: 10px;
}

.two-fact-section .container2 {
    height: 11%;
    width: 80%;
    background-color: rgb(182, 177, 177);
    margin: 1% auto;
    border-radius: 10px;
}

.container3 {
    width: 90%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2% 5%;
    /* background-color: pink; */
}

.container3 .qr-space {
    height: 75%;
    aspect-ratio: 1 /1;
    background-color: rgb(236, 231, 231);
    border-radius: 8px;
    margin: 4% auto;
}

.container3 .sms-input {
    height: 20%;
    width: 37%;
    border-radius: 5px;
    background-color: rgb(182, 177, 177);
    margin: auto;
}

.two-fact-section button {
    margin: auto;
    height: 10%;
    width: 25%;
    border-radius: 7px;
    background-color: rgb(78, 61, 190);
}

button p {
    margin: auto;
    font-weight: 550;
}
