

/* 
img {
    border-radius: 10px;
} */

@keyframes move {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

.profile {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    /* display: flex; */
}

.friend-title {
    height: 14%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 200;
}

.search-bar {
    position: absolute;
    right: 0;
    top: 0;
    height: 13%;
    width: 48%;
    display: flex;
    /* background-color: salmon; */
    justify-content: end;
}

.search-input {
    position: relative;
    width: 100px;
    height: 70%;
    min-height: 35px;
    padding: 0;
    margin: auto 0;
    border-radius: 4px;
    z-index: 10;
    outline: none;
    transform-origin: right;
    transition: width .6s ease;
    background-color: rgb(192, 188, 188);

    text-align: left;
    padding-left: 2%;
    font-weight: lighter;
    border:  solid 1px aqua;
}

.search-input:focus {
    width: 100%;
    /* background-image: url('/src/assets/imgs/cancel-red.png'); */
}

.search-input2{
    width: 100%;
}

.search-input::placeholder {
    font-size: 75%;
    text-align: left;
    padding-left: 5%;
}

#search  {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%); 
    margin: auto;
    height: 100%;
    padding: .4vh;
    max-height: 32px;
    /* border-radius: 50%; */
    cursor: pointer;
    z-index: 110;
    /* background-color: brown; */
}

/* #search:focus .search-input {
    width: 100%;
} */

.profile-info-left,
.user-friends,
.history,
.statistic {
    position: relative;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.user-friends {
    overflow: none;
    /* cursor: pointer; */
    /* background-color: slategray; */
}


.achivements,
#chart {
    height: 86%;
    width: 100%;
    position: relative;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
    background-color: #3e4aa0;
}

.achieve-card {
    background: #200589;
    /* width: 320px; */
    width: 90%;
    max-width: 200px;
    /* height: 150px; */
    height: 110px;
    /* padding-top: 25px 20px; */
    border: 4px solid #39FF14;
    box-shadow: 0 3px 5px rgba(207, 212, 222, 1);
    /* border-radius: 10px; */
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    /* margin: 5% auto; */
    margin: .5rem;
    display: flex;
    flex-direction: row;
}
  
.achieve-card:hover {
    transform: translateY(-5px);
}
  
.achieve-icon {
    overflow: hidden;
    object-fit: cover;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #3410c4;
    border-radius: 4px 0 0 4px;
}

.achieve-data {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
.achieve-data > .description {
    margin: auto;
    /* margin-top: 20px; */
    font-weight: 600;
    font-size: 0.9rem;
    color: #C0C0C0;
}
  
.achieve-data > .description > span {
    display: block;
    font-weight: 200;
    font-size: 14px;
    margin-top: 4px
}

.achieve-icon > img {
    object-fit: cover;
    height: 45%;
}


.friends-list,
.my-history {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    position: relative;
    height: 86%;
    width: 100%;
    border-radius: 10px ;
    background-color: #3e4aa0;
    overflow-y: auto;
}


#chart {
    overflow: hidden;
}

.profile-info-left {
    flex-wrap: nowrap;
    border-radius: 10px;
    background-color: rgba(113, 113, 146, 0.55);
    /* margin-top: ; */
    flex-direction: column;
    border: 1px solid salmon;
}
.statistic {
    margin-top: 0;
    overflow: hidden;
    flex-direction: column;
}

.statistic > text {
    font-size: 50px;
}

#title {
    height: 14%;
    width: 100%;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
}
#title > img {
    height: 100%;
    width: 40%;
    min-width: 130px;
    max-width: 230px;
} 
#title > span {
    font-size: larger;
    font-weight: 700;
    position: absolute;
    left: 5%;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .2rem;
    border-bottom: 3px solid cornflowerblue;
}



/* PROFILE-INFO */
.profile-info-1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-img > img {
    object-fit: cover;
    outline: 1px solid ;
    border-radius: 10px;
    background-color: #C0C0C0;
}

.profile-name-rank {
    width: 90%;
    height: 20%;
    max-width: 230px;
    margin-top: 1rem;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}
.profile-name {
    width: 70%;
    overflow: hidden;
    text-align: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    padding: 4% 8%;
    border-radius: 5px;
    position: relative;
    font-size: large;
    background-color: #384080;
}
.profile-name > img {
    width: 100%;
    height: 50px;
}
.profile-rank {
    position: relative;
    text-align: center;
    padding: .3rem .3rem;
    border-radius: 5px;
    width: 30px;
    font-size: larger;
    font-weight: bolder;
    background-color: rgba(62, 202, 253, 0.8);
}
.profile-rank > img {
    width: 100%;
}
#rank {
    position: absolute;
    left: 50%;
    top: 46%;
    z-index: 5;
    transform: translate(-50%, -50%); 
}
#settings {
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
    width: 30px;
    z-index: 220;
}
/* HISTORY */
.badge-history {
    position: relative;
    width: 160px;
    height: 110px;
    margin: .5rem auto;
    background-color:  #c5cae9;
    border-radius: 10px;
}

.players {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

#vs-img {
    position: absolute;
    top: 40%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 22px;
    object-fit: cover;
    overflow: hidden;
}

#comma {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comma > img {

    width: 45%;
}

#player {
    border-radius: 7px;
    height: 76%;
    aspect-ratio: 4/4;
    object-fit: cover;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    /* border: 1px solid #39FF14; */
    overflow: hidden;
}

.score-match {
    display: flex;
    height: 50%;
    align-items: center;
    color: black;
}

.score {
    display: flex;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    align-items: center;
    justify-content: space-around;
}
    

.achive {
    width: 90%;
    max-width: 200px;
    height: 110px;
    margin: .5rem;
    background-color: bisque;
    border-radius: 6px;
}

/* FRIENDS */
.friend {
    height: 54px;
    margin: 2%;
    width: 44%;
    min-width: 240px;
    border-radius: 10px;
    border: 1px solid skyblue;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    background-color: rgba(113, 113, 146, 0.55);
}

.friend:hover {
    scale: 1.02;
}

.user-friend {
    /* position: relative; */
    height: 100%;
    aspect-ratio: 4/4;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    border: 1px solid black;
    background-color: #C0C0C0;
    cursor: pointer;
    z-index: 1;
}

.icon-chat {
    height: 57%;
    margin: 1rem;
}

.name-friend {
    position: absolute;
    top: 6px;
    left: 52px;
    font-size: 90%;
    font-weight: 600;
    color: black;
    background-color: #c5cae9;
    width: 40%;
    max-width: 150px;
    padding: .2% 4%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
    z-index: 0;
}

/* .name-friend::before {
    position: absolute;
    background-color: #3e4aa0;
    width: 10%;
    right: 0;
    z-index: 2;
} */

.status-friend {
    position: absolute;
    text-align: center;
    font-size: 70%;
    font-weight: 500;
    top: 60%;
    left: 60px;
    padding: 0 1% 0 2% ;
    width: 80px;
    text-overflow: ellipsis;
    color: black;
    border-radius: 10px;
    background-color: aliceblue;
}

#circle {
    position: absolute;
    height: 100%;
    aspect-ratio: 4/4;
    left: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 50%;
    background-color: cornflowerblue;
}


@media (orientation: portrait) {

    .profile-img {
        height: 60%;
        width: auto;
        aspect-ratio: 4/4;
        display: flex;
    }

    .profile-img > img{
        margin: auto;
        width: 90%;
        min-height: 90%;
        max-height: 100%;
        height: auto;
        aspect-ratio: 4/4;
    }

    @media (max-width: 600px) {

        .profile-info-left {
            width: 70%;
            margin: auto;
        }


        .profile-info-right {
            height: 200px;
        }

        .profile-info-right > #title {
            height: 30%;
        }

        .achivements {
            height: 70%;
        }

        .friend {
            width: 90%;
        }

    }

    .profile-info-left,
    .history,
    .user-friends,
    .statistic {
        height: 350px;
        margin-top: 1rem;
    }

    @media (max-width: 600px) {
        #settings {
            top: 1.5rem;
        }
    }
    
    @media (max-width: 300px) {
    
        #settings {
            width: 25px;
            top: 2rem;
            right: 1;
        }
    }
    
    
    @media (max-width: 400px) {
        .profile-info-left {
            width: 100%;
            height: auto;
            padding-top: 10%;
            padding-bottom: 10%;
            background-color: skyblue;
        }

        .profile-img {
            width: 60%;
        }


        .badge-history {
            width: 140px;
            height: 100px;
        }
        
        .achive {
            width: 80%;
            height: 98px;
        }
    }

}

@media (min-width: 600px) {
    .user-friends,
    .history,
    .statistic {
        height: 450px;
    }

    .profile-info {
        display: flex;
        width: 100%;
        align-items: center;
        
    }

    .profile-info-right,
    .profile-info-left {
        height: 350px;
        width: 50%;
        margin: 0 .5rem;
    }

    /* .profile-img {
        height: 60%;
    } */


    .badge-history {
        margin: .5rem;
    }
}

@media (orientation: landscape) {
    
    .profile {
        display: flex;
    }

    .profile-col-1 {
        display: flex;
        flex-direction: column;
    }

    .profile-col-2 {
        display: flex;
    }

    .user-friends,
    .statistic {
        width: 100%;
        margin: auto;
        height: 48%;
        max-height: 600px;
    }

    .history,
    .profile-info {
        width: 100%;
        margin: auto;
        height: 48%;
        max-height: 550px;
    }

    .profile-img {
        height: 60%;
        width: auto;
        aspect-ratio: 4/4;
        display: flex;
    }

    .profile-img > img{
        margin: auto;
        width: 90%;
        min-height: 90%;
        max-height: 100%;
        height: auto;
        aspect-ratio: 4/4;
    }

    .profile-info-right {
        height: 100%;
    }

    .profile-info-left {
        display: flex;
        align-self: end;
        height: 100%;
        margin: 0;
    }
    
    .achivements {
        background-color: #384080;
        border-radius: 10px;
    }
    
    @media (max-width: 1220px) {
        .profile-info-left {
            min-width: 250px;
        }

        .friend {
            width: 85%;
        }
    }

    .profile-col-2,
    .profile-col-1 {
        width: 50%;
        height: 100%;
    }

    .profile-col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .profile-col-2 {
        flex-direction: column;
    }

    .history, 
    .statistic {
        width: 90%;
        margin: auto;
    }

    @media (max-width: 940px) {
        .profile-info-right {
            display: none;
        }
        .profile-info-left {
            width: 100%;
            height: 98%;
        }
    }

}


.blur {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(113, 113, 146, 0.7); 
}