
.main-dev {
    height: 84%;
    background-color: antiquewhite;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto;
}

.dscp-dev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    width: 55%;
    background-color: aqua;
    margin-left: 2rem;
    max-height: 900px; /* Set the maximum height */
    overflow-y: auto;
}

.dev-img {
    width: 40%;
    background-color: darkgoldenrod;
}

.dev-img > img {
    width: 100%;
}

.badge {
    display: flex;

    justify-content: space-around;
    background-color: chartreuse;
    width: 40%;
    margin: 1.5rem;

}

.badge > img {
    width: 35%;
    height: auto;
    background-color: crimson;
    margin: .7rem ;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    background-color: salmon;
}

.portfolio > p {
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: rgb(160, 172, 216);
}

.follow {
    display: flex;

}
.follow > a > img {
    max-width: 30px;
    min-width: 10px;
    margin: .3rem;
}


@media (max-width: 1500px) {
    .badge {
        width:  50%;
    }
}

@media (max-width: 900px){

    .dev-img {
        display: none;
    }

    .dscp-dev {
        width: 100%;
    }

}