
.main-dev {
    height: 84%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-items: center;
    justify-content: space-between; */
    /* align-items: center; */
    margin: auto;
}

.dscp-dev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
    height: 45%;
    /* background-color: aqua; */
    overflow-x: auto;
}

.project-tools {
    width: 100%;
    height: 45%;
    /* background-color: salmon; */
}

/* .dev-img {
    width: 40%;
    background-color: darkgoldenrod;
}

.dev-img > img {
    width: 100%;
} */

.badge {
    display: flex;
    /* align-items: ; */
    /* justify-content: space-around; */
    /* background-color: chartreuse; */
    /* margin: ; */
    width: 18%;
    height: 70%;
    margin: auto;
    /* border: 1px solid black; */
    /* border-radius: 20px; */
    /* width: ; */
    /* margin: 1.5rem; */

}


.team-img {
    height: 80%;
    aspect-ratio: 4/4;
    margin: auto;
    border-radius: 50%;
    outline: 2px solid skyblue;
}




