body{
  background-color: #7f7d86;
}

button {
  height: 50px;
  width: 300px;
  background-color: rgba(63, 10, 10, 0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 100px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0,255,255,0.47);
}