

/* 
img {
    border-radius: 10px;
} */

/* * {
    overflow: hidden;
} */

.profile {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}



.profile-info1-right,
.profile-info1-left{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    margin-top: 0;
    flex-direction: column;
    /* margin: auto; */

}


/* profile-info1 */
.profile-info1 {
    /* flex-direction: column; */
    /* background-color: cornsilk; */
    align-items: center;
    justify-content: center;
    background-color: rgba(113, 113, 146, 0.55);
    border-radius: 20px;
    margin: auto;
    max-width: 650px;

}



.profile-img2 {
    height: 70%;
    position: relative;
}

.profile-img2 > img {
    height:100%;
    width: 100%;
    background-color: rgb(211, 215, 219);
    aspect-ratio: 10/9.5;
    object-fit: cover;
    outline: 1px solid ;
    border-radius: 10px;
}



/* #status:hover > span {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.profile-name-rank1 {
    width: 90%;
    height: 20%;
    margin-top: 1rem;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-name1 {
    width: 70%;
    text-align: center;
    padding: 5% 1%;
    border-radius: 5px;
    position: relative;
    background-color: #384080;
    text-overflow: ellipsis;

    font-size: larger;
    /* background-color: rgb(0, 255, 255); */
}
.profile-name > img {
    width: 100%;
    height: 50px;
}
.profile-rank1 {
    position: relative;
    text-align: center;
    padding: 5% 1%;
    border-radius: 5px;
    width: 20%;
    font-size: larger;
    font-weight: bolder;
    background-color: rgba(62, 202, 253, 0.8);
}

.profile-rank > img {
    width: 100%;
}

#rank {
    position: absolute;
    left: 50%;
    top: 46%;
    z-index: 5;
    transform: translate(-50%, -50%); 
}



.profile-buttons {
    /* background-color: aquamarine; */
    width: 80%;
    /* min-width: 220px; */
    height: 30%;
    display: flex;
    /* padding: ; */
    margin-top: 5%;
    /* margin: auto; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    
}

.add-friend {
    height: 90%;
    width: auto;
    /* width: clamp (10px, ); */
    aspect-ratio: 4/4;
    margin: auto;
    cursor: pointer;
    stroke: #2ca9bc;
    .primary {
        stroke: white;
    }
}

.add-friend:hover {
    stroke: white;
    .primary {
        stroke: #2ca9bc;
    }
}

.add-friend:active,
.play-game:active {
    scale: .90;
}

.play-game {
    height: 90%;
    width: auto;
    /* width: 5rem; */
    aspect-ratio: 4/4;
    margin: auto;
    cursor: pointer;
    stroke: white;
    .ball {
        stroke: #2ca9bc;
    }
}

.play-game:hover {
    stroke: #2ca9bc;
    .ball {
        stroke: white;
    }
}



@media (orientation: portrait) {

    .profile-info1 {
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 90%;
        aspect-ratio: 6/10;
        max-height: 700px;
        min-height: 400px;
        /* object-fit: cover; */
        padding: .5vh 5vw;
    }

    .profile-name1,
    .profile-rank1  {
        padding: .5rem 0.5rem;
    }

    @media (max-width: 400px ) {
        .profile-info1 {
            height: auto;
            width: 95%;
            padding: 0;
            /* margin: .5rem .5rem; */
            aspect-ratio: 7/10;
        }

        .profile-img2  {
            width: 100%;
        }

        .profile-img2 > img {
            width: 100%;
            aspect-ratio: 4/4;
        }
    }

    .profile-info1-left {
        height: 70%;
    }

    .profile-img2 {
        height: 80%;
    }

    .profile-info1-right {
        display: flex;
        justify-content: space-between;
        /* background-color: greenyellow; */
        height: 40%;
        width: 100%;
    }


    /* .profile-buttons  {
        margin-bottom: 2rem;
    } */

    .profile-name-rank1 {
        width: 80%;
        height: auto;
        /* height: 30%; */
    }

    .profile-buttons {
        height: auto;
        width: 70%;
        justify-content: space-around;
    }

    .add-friend,
    .play-game {
        width: clamp(2px, 15vw, 8vh);
        margin-bottom: 1rem;
    }

    @media (min-width: 450px) {
        .profile-info1 {
            width: 70%;
            /* height: 80%; */
            aspect-ratio: 9/10;
            overflow: hidden;
        }

        .profile-img2 {
            margin: .5rem;
        }
        
        /* .p */
    }
    
}

/* @media (min-width: 600px) {

    .profile-info1 {
        display: flex;
        width: 100%;
        align-items: center;
        
    }

    .profile-info1-left,
    .profile-info1-right {
        height: 350px;
        width: 50%;
        margin: 0 .5rem;
    }

    .profile-img2 {
        height: 60%;
    }
    
    .profile-name-rank1 {
        width: 90%;
    }
} */

@media (orientation: landscape) {
    

    .profile-info1 {
        padding: 2rem;
        width: 70%;
        height: 50%;
        max-height: 550px;
        max-width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .profile-info1-left,
    .profile-info1-right {
        width: 50%;
        height: 100%;
    }
    
    .profile-info1-right {
        justify-content: space-between;
        height: 70%;
    }

    .profile-buttons,
    .profile-name-rank1 {
        height: 40%;
    }

    .profile-img2 {
        height: 80%;
    }
    
    .profile-img2 > img  {
        height: 100%;
        width: auto;
        aspect-ratio: 4/4;
    }

    .add-friend,
    .play-game {
        width: clamp(10px, 25%, 60px);
        margin-bottom: 1rem;
    }

    @media (max-width: 940px) {

        .profile-info1-left,
        .profile-info1-right {
            width: 100%;
            height: 100%;
        }
    }

}




/* .kika {
    fill: aqua;
    width: 40%;
} */